@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {background-color: floralwhite;
font-family: font-family: 'Dancing Script', cursive;
margin:0;}
p {font-size: 36px;
    color:grey;
    font-family: font-family: 'Dancing Script', cursive;
}