body {
    background-color: #FCFCFC;
}

.header {
    background-color: black;
}

.header h1 {
    font-size: larger;
    font-family: font-family 'Dancing Script', cursive;
    color: #fff;

}

.wrapper img {
    display: inline-block;
  margin-top: 12px;
    width: 150px;
  height: 150px;
}