body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  background-color: #fefefe;
}

.header {
  margin-top: 0;
  background-color: #f46500;
}

.header h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.text,
.cardsContainer {
  width: 80%;
  margin: 0 auto;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.card {
  display: inline-block;
  margin-top: 12px;
}

.cardsContainer {
  margin-top: 45px;
}

.card img {
  float: left;
  width: 150px;
  height: 150px;
}

.right img {
  float: right;
}

.card p {
  margin-left: 160px;
}

.product-name {
  font-weight: bold;
  color: #666;
  font-size: 20px;
}

.price {
  font-size: 16px;
}

.description {
  font-size: 15px;
}
