@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Titillium+Web:wght@600&display=swap");

p {
  font-size: 26px;
  color: #13073b;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #887caf;
  margin: 0;
}

a {
  color: #061539;
  font-family: "Poppins", sans-serif;
}

section {
  width: 80%;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

.white {
  color: #ffffff;
}

#second,
#third {
  color: #777777;
}
