@import url("./PressStart2P-Regular.ttf");

body {
  background-color: #6e7191;
}

.nav-bar {
  width: 90%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 4px 8px -4px rgba(183, 186, 219, 0.1);
}

.nav-bar__link {
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0 1rem;
  color: #6e7191;
  counter-increment: nav;
  transition: box-shadow 0.3s ease-in-out;
  font-family: "Sacramento", cursive;
}

.nav-bar__link:hover {
  box-shadow: 0 4px #eee;
}

.nav-bar__link.is-active {
  box-shadow: 0 4px #fc87da;
}

.nav-bar__link::before {
  content: counter(nav) " | ";
  font-weight: 700;
  color: #b7badb;
}

.bar__link_didact {
  font-family: "Didact Gothic", sans-serif;
}

.bar__link_press {
  font-family: "Press Start 2P", cursive;
}
