@import url('https://fonts.googleapis.com/css2? family = Train + One & display = swap');

.title{
    color: #000;
    font-family:  Roboto + Condensed;
}

.header .h1 .img{
    background-color: #185CCB;
    font-family: Train One, cursiva;
    cursor: all-scroll;
    height: 25px;
    width: 75px;
}

.body{
    background-color: turquoise;
    
    font-style: italic;
}